body{
    min-height: 3000px;
}

.jumbotron{
    padding-top: 5rem;
    background-color: rgb(93, 87, 88);
    color: beige;
}

.img-thumbnail{
    background-color: grey;
}

.text-justify{
    text-align: justify;
}